@import "tailwindcss";

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #38bdf8;
  --color-secondary: #818cf8;
  --color-accent: #f472b6;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}